
body {
  position: absolute;
  position: fixed;
  background-color: transparent;
  color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  top: 0%;
  left: 0%;
  font-family: 'fraktionsansL', sans-serif;
  font-weight: normal;
  font-size: 12pt;
  text-decoration: none
}


.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  align-content: space-between;
}

a:link, a:visited, .voci a:link, .voci a:visited{
  text-decoration: none;
  color: #ffffff;
}



input {
  font-family: 'typekaM', sans-serif;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  float: none;
  margin: 0;
  padding: 0.5%;
  padding-left: 15pt;
  width: 70pt;
  height: 10pt;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border:0 none;
  outline: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}



#imgBt1{
  color: #ffffff;
  background-image: url("./assets/08.1_Bottone pieno fermo.png");
}

#imgBt1:hover{
  background-image: url("./assets/08.2_Bottone pieno.gif");
}

#arrow {
  position: absolute;
  margin: 0;
  padding: 0;
  top: auto;
  bottom:20%;
  height: 25px;
  width: 25px;
  background-image: url("./assets/07.1_freccia navigazione ferma b.png");
  transform: translateX(-50%);
}

#arrow:hover{
  transform: translateX(-30%);
}
